
{% extends 'inc/nav.html' %}

{% block title %}Demo-Student Page{% endblock title %}

{% block content %}
<h1>This is student page</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">S.N</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
      {% for object in students %}
      <tr>
        <th scope="row">{{object.id}}</th>
        <td>{{object.name}}</td>
        <td>{{object.age}}</td>
        <td>{{object.grade}}</td>
      </tr>
      <td>
        <a class="btn-outline-warning" href="{% url 'editstudent' object.id %}">EDIT</a>
        <a class="btn btn-primary" href="{% url 'readstudent' object.id %}">READ</a>
        <a class="btn btn-danger" href="{% url 'deletestudent' object.id %}" >DELETE</a>
      </td>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}

